<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilocontacto.css">
    <link rel="icon" type="image/png" href="favicon.png" >
    <title>Yesos Hnos. Lara</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img class="logo1" src="../images/logodef.png" width="561" alt="Logo1">
            </a>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/producto.html">Producto</a></li>
                <li><a href="../views/galeria.html">Galería</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                
                <li><a href="../views/contacto.html" class="activo">Contacto</a></li>    
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>¿Dónde puedes encontrarnos?</h1>
           

            <!-- Mapa de OpenStreetMap -->
            <div id="map"></div>

            <div>
                <div class="cajas">-> Dirección: Río Del Valle Calle Bueno N:23 Bajo A</div>
                <div class="cajas">-> Teléfono de contacto: <a href="tel:630433844">630433844</a></div>
                <div class="cajas">-> Email: <a href="mailto:correo@gmail.com">empresa@gmail.com</a></div>
            </div>
        </section>
        
  
    </main>
    <footer>
        <!-- footer con redes sociales -->
        <div>
        <a href="https://www.facebook.com/?locale=es_ES"><img src="../images/logoface.png" width="512" alt="LogoFace" ></a>
        <a href="https://www.instagram.com/"><img src="../images/logoinsta.png" width="512" alt="LogoInsta"></a>
        <a href="https://twitter.com/home"><img src="../images/logotwiter2.png" width="512" alt="LogoTwitter"></a>
        <a href="#">Aviso Legal</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Politica De Cookies</a>
        </div>
    </footer>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="../js/scriptcontacto.js"></script>
</body>

</html>