<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilogaleria.css">
    <link rel="icon" type="image/png" href="favicon.png" >
    
    <title>Yesos Hnos. Lara</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img class="logo1" src="../images/logodef.png" alt="Logo1" >
            </a>
            <ul>
                <li><a href="../index.html" >Inicio</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./registro.html">Registro</a></li>
                <li><a href="./producto.html">Producto</a></li>
                <li><a href="./galeria.html" class="activo">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>    
            </ul>
        </nav>
    </header>
    <main>
        <header >
            <h1>Galería de Imágenes</h1>
        </header>
    
        <section id="galeria">
            <div class="slider-container">
                <button class="prev" id="prev">&#10094;</button>
                <div class="contenedor-galeria" id="contenedor-galeria">
                    <!-- Las imágenes se añadirán aquí con JS -->
                </div>
                <button class="next" id="next">&#10095;</button>
            </div>
        </section>
    </main>
    <footer>
        <!-- footer con redes sociales -->
        <div>
        <a href="https://www.facebook.com/?locale=es_ES"><img src="../images/logoface.png" width="512" alt="LogoFace" ></a>
        <a href="https://www.instagram.com/"><img src="../images/logoinsta.png" width="512" alt="LogoInsta"></a>
        <a href="https://twitter.com/home"><img src="../images/logotwiter2.png" width="512" alt="LogoTwitter"></a>
        <a href="#">Aviso Legal</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Politica De Cookies</a>
        </div>
    </footer>
  <script src="../js/scriptgaleria.js"></script>  
</body>

</html>