<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estiloproductos.css">
    <link rel="icon" type="image/png" href="favicon.png" >
    <title>Yesos Hnos. Lara</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img class="logo1" src="../images/logodef.png" alt="Logo1" >
            </a>
            <ul>
                <li><a href="../index.html" >Inicio</a></li>
                <li><a href="../views/producto.html" class="activo">Producto</a></li>
                <li><a href="../views/galeria.html">Galería</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>    
            </ul>
        </nav>
    </header>
    <main>
        <div> <img src="../images/yesocontrolado.jpg" width="100" alt="yesocontrolado">Controlado</div>
        <div><img src="../images/yesogrueso.jpg" width="100" alt="yesogrueso">Grueso</div>
        <div><img src="../images/yesofino.jpg" width="100" alt="yesofino">Fino</div>
        <div><img src="../images/escayola.jpg" width="100" alt="escayola">Escayola</div>
        <div><img src="../images/finoterminacion.jpg" width="100" alt="finoterminacion">Fino De Terminación</div>
        <div><img src="../images/pegamentocola.jpg" width="100" alt="pegamentocola">Pegamenco Cola</div>
        <div><img src="../images/yesoproyectar.jpg" width="100" alt="yesoproyectar"> Proyectar</div>
        <div><img src="../images/proyectaraligerado.jpg" width="100" alt="proyectaraligerado">Proyectar Aligerado</div>
        <div><a href="#">Otros Products</a></div>
  
    </main>
    <footer>
        <!-- footer con redes sociales -->
        <div>
        <a href="https://www.facebook.com/?locale=es_ES"><img src="../images/logoface.png" width="512" alt="LogoFace" ></a>
        <a href="https://www.instagram.com/"><img src="../images/logoinsta.png" width="512" alt="LogoInsta"></a>
        <a href="https://twitter.com/home"><img src="../images/logotwiter2.png" width="512" alt="LogoTwitter"></a>
        <a href="#">Aviso Legal</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Politica De Cookies</a>
        </div>
    </footer>
</body>

</html>
