<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilopresupuesto.css">
    <link rel="icon" type="image/png" href="../assets/favicon/favicon.png" >
    <title>Yesos Hnos. Lara</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
            <img class="logo1" src="../images/logodef.png" alt="Logo1">
            </a>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./registro.html" class="activo">Registro</a></li>
                <li><a href="./producto.html">Producto</a></li>
                <li><a href="./galeria.html">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>    
            </ul>
        </nav>
    </header>

    <h2>Registro de Usuario</h2>
    <form action="../php/registro.php" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        
        <label for="apellidos">Apellidos:</label>
        <input type="text" name="apellidos" required>
        
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        
        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" required>
        
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" name="fecha_nacimiento" required>
        
        <label for="direccion">Dirección:</label>
        <input type="text" name="direccion">
        
        <label for="sexo">Sexo:</label>
        <select name="sexo" required>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </select>
        
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" required>
        
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required>
        
        <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="login.html">Inicia sesión aquí</a></p>

    


    <footer>
        <!-- footer con redes sociales -->
        <div>
        <a href="https://www.facebook.com/?locale=es_ES"><img src="../images/logoface.png" width="512" alt="LogoFace" ></a>
        <a href="https://www.instagram.com/"><img src="../images/logoinsta.png" width="512" alt="LogoInsta"></a>
        <a href="https://twitter.com/home"><img src="../images/logotwiter2.png" width="512" alt="LogoTwitter"></a>
        <a href="#">Aviso Legal</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Politica De Cookies</a>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>

